* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.clearfix::after{
    content: "";
    display: table;
    clear: both;
}



#all {
    height: 100vh;
}

main {
    height: 100%;
}

.container {
    width: 100%;
    height: 100%;
}

#account {
    width: 30%;
    height: 100%;
    float: left;
    background: red;
}

#header-account {
    width: 100%;
    height: 60px;
    border-right: 1px solid rgba(0, 0, 0, 0.05);
    background-color: #ededed;  
}

#desktop-notifications {
    background-color: #9de1fe;
    height: 90px;
    cursor: pointer;
}

#search {
    height: 50px;
    background: rgb(156, 34, 54);
/*     background-color: #f7f7f7; */
}

#utenti {
    height: calc(100% - 200px);
    background-color: rgb(179, 105, 105);
    overflow-y: scroll;
}

#chat {
    width: 70%;
    height: 100%;
    float: left;
    background: pink;
}

#header-chat {
    width: 100%;
    height: 60px;
    background-color: #907a7a;
}
#message-area {
    height: calc(100% - 120px);
    background-color: seagreen;
}
#chat-input {
    height: 60px;
    background-color: #999898;
}

/* media query */

@media (min-width:1400px) {
    #all {
        background: rgb(0, 150, 136);
        background: linear-gradient(180deg, rgba(0, 150, 136, 1) 0, rgba(0, 150, 136, 1) 127px, #dddbd1 127px, #d2dbdc);
        display: flex;
    }
    main {
        width: 1400px;
        height: 95vh;
        margin: auto;
        box-shadow: 0 1px 1px 0 rgba(0, 0, 0, .06), 0 2px 5px 0 rgba(0, 0, 0, .2);
    }
}